@model Sanatorium.Models.AdminViewModels.IndexViewModel
<br/>
<h4 class="ui horizontal divider header">
    <i class="hotel icon"></i>
    Rooms
</h4>
<div class="ui grid">
    <div class="twelve wide column">
            <table class="ui celled striped table">
                <thead>
                <tr>
                    <th colspan="3">
                        Rooms
                    </th>
                </tr>
                </thead>
                <tbody id="roomTableBody">
                @foreach (var room in Model.Rooms)
                {
                    <tr id="Room@(room.Id)">
                        <td class="collapsing" id="tdRoomNumber@(room.Id)">
                            Room @room.RoomNumber
                        </td>
                        <td id="tdRoomInfo@(room.Id)">Stage @room.StageNumber,capacity @room.Capacity,daily price @room.DailyPrice</td>
                        <td class="center aligned ">
                            <button class="ui yellow basic button updateBtn" id="@room.Id">Update</button>
                            <button class="ui red basic button removeBtn" id="@room.Id">Remove</button>
                        </td>
                    </tr>
                }
                </tbody>

            </table>
            <div class="ui dimmer" id="tableDimmer">
                <div class="content">
                    <div class="center">
                        <h2 class="ui inverted icon header">
                            <i class="icon" id="tableDimmerIcon"></i>
                            <text id="tableDimmerText">Room Deleted</text>
                        </h2>
                    </div>
                </div>
            </div>

    </div>
    <div class="four wide column" align="right">

        <form id="addRoomForm" onsubmit="return false;">
                <h4>Add Room</h4>
                <div class="ui left icon input">
                    <input type="text" placeholder="Room Number" name="roomNumber" id="roomNumber">
                    <i class="users icon"></i>
                </div>
                <br/>
                <br/>
                <div class="ui left icon input">
                    <input type="text" placeholder="Stage Number" name="stageNumber" id="stageNumber">
                    <i class="users icon"></i>
                </div>
                <br/>
                <br/>
                <div class="ui left icon input">
                    <input type="text" placeholder="Capacity" name="capacity" id="capacity">
                    <i class="users icon"></i>
                </div>
                <br/>
                <br/>
                <div class="ui left icon input">
                    <input type="text" placeholder="Daily Price" name="dailyPrice" id="dailyPrice">
                    <i class="money icon"></i>
                </div>
                <br/>
                <br/>
                <button class="ui basic blue button" id="addRoomBtn">
                    Create
                </button>
        </form>
    </div>
</div>
<h4 class="ui horizontal divider header">
    <i class="write icon"></i>
    Register Patient
</h4>
<div class="ui grid">
    <div class="eight wide column">
     
        <form class="ui form" id="registerPatientForm" onsubmit="return false;">
                <div class="field eight wide">
                    <label>Full Name</label>
                    <input type="text" placeholder="Full Name" name="fullName" id="fullName">
                </div>
                <div class="field eight wide">
                    <label>Gender</label>
                    <div class="ui selection dropdown" id="adminRegisterGender">
                        <input type="hidden" name="gender" id="gender">
                        <i class="dropdown icon"></i>
                        <div class="default text">Gender</div>
                        <div class="menu">
                            <div class="item" data-value="Male">Male</div>
                            <div class="item" data-value="Female">Female</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <br/>
                    <button class="ui basic blue button" id="registerPatient">
                        Register
                    </button>
                </div>
        </form>
    </div>
</div>
<h4 class="ui horizontal divider header">
    <i class="write icon"></i>
    Settle Patient
</h4>
<div class="ui grid">
    <div class="ten wide column">
        <table class="ui celled striped table">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Is Settle</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="patientTableBody">
                @foreach (var patient in Model.Patients)
                {
                    <tr id="Patient@(patient.Id)">
                        <td>
                            @patient.FullName
                        </td>
                        <td>@patient.Gender</td>
                        <td>@patient.Gender</td>
                        <td class="center aligned collapsed">
                            <button class="ui yellow basic button updateBtn" id="@patient.Id">Info</button>
                            <button class="ui red basic button removeBtn" id="@patient.Id">Settle</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="six wide column" align="right">
        <h4>Settle patients</h4>
        <form class="ui form" id="settlePatientsForm" onsubmit="return false;">
            <div class="field">


                <select class="ui fluid search dropdown" multiple="" name="patientsId" id="patientsSettle">
                    <option value="">Patients</option>
                   @foreach (var patient in Model.Patients)
                   {
                       <option value="@patient.Id">@patient.FullName,@patient.Gender</option>
                   }
                </select>
            </div>
            <div class="field">
                <select class="ui fluid search dropdown"  name="roomId" id="roomSettle">
                    @foreach (var room in Model.Rooms)
                    {
                        <option value="@room.Id">Room @room.RoomNumber,Stage @room.StageNumber,Capacity @room.Capacity,Price @room.DailyPrice</option>
                    }
                </select>
            </div>
            <button class="ui basic blue button" id="settlePatients">
                Settle
            </button>
        </form>
    </div>
</div>
<div class="ui modal" id="removeRoomModal">
    <i class="close icon"></i>
    <div class="header">
        No way out
    </div>
    <div class="content">
        <h2>You remove this room forever</h2>
    </div>
    <div class="actions">
        <div class="ui  basic red button cancel" id="cancel">Cancel</div>
        <div class="ui green basic button ok" id="ok">OK</div>
    </div>
</div>
<div class="ui modal" id="updateRoomModal">
    <i class="close icon"></i>
    <div class="header">
        Update Room
    </div>
    <div class="content">
        <form id="updateRoomForm">
            <div class="ui left icon input">
                <input type="text" placeholder="Capacity" name="capacity" id="updateCapacity">
                <i class="users icon"></i>
            </div>
            <br/>
            <br/>
            <div class="ui left icon input">
                <input type="text" placeholder="Daily Price" name="dailyPrice" id="updateDailyPrice">
                <i class="money icon"></i>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui  basic red button cancel" id="cancel">Cancel</div>
        <div class="ui green basic button ok" id="ok">Update</div>
    </div>
</div>