@model Sanatorium.Models.NurseViewModels.IndexViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br/>
<h4 class="ui horizontal divider header">
    <i class="write icon"></i>
    Procedures
</h4>
<div class="ui grid">
    <div class="ten wide column">
        <table class="ui celled striped table">
            <thead>
            <tr>
                <th colspan="3">
                    Procedures
                </th>
            </tr>
            </thead>
            <tbody id="procedureTableBody">
            @foreach (var procedure in Model.Procedures)
            {
                <tr id="procedure@(procedure.Id)Tr">
                    <td class="collapsing" id="procedure@(procedure.Id)Name">
                        @procedure.Name
                    </td>
                    <td id="procedure@(procedure.Id)Price">@procedure.Price</td>
                    <td class="center aligned collapsed">
                        <button id="updateProcedure@(procedure.Id)Button" class="ui teal basic updateProcedureInfo button" procedure-id="@procedure.Id" procedure-name="@procedure.Name" procedure-price="@procedure.Price">
                            Update Info
                        </button>
                        <button id="removeProcedure@(procedure.Id)" class="ui red basic removeProcedure button" procedure-id="@procedure.Id">
                            Remove
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="two wide column"></div>
    <div class="four wide column" align="right">
        <form id="addProcedureForm" onsubmit="return false;">
            <h4>Add Procedure</h4>
            <div class="ui fluid input">
                <input type="text" placeholder="Name" name="name" id="name">
            </div>
            <br/>
            <br/>
            <div class="ui fluid input">
                <input type="number" placeholder="Price" name="price" id="price">
            </div>
            <br/>
            <br/>
            <button class="ui primary button" id="addProcedureBtn">
                Save
            </button>
        </form>
    </div>
</div>
<h4 class="ui horizontal divider header">
    <i class="users icon"></i>
    Patients
</h4>
<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui selection dropdown">
            <input type="hidden" name="gender" id="genderSort">
            <i class="dropdown icon"></i>
            <div class="default text">Gender</div>
            <div class="menu">
                <div class="item genderSort" data-value="male" data-text="Male" id="Male">
                    <i class="male icon"></i>
                    Male
                </div>
                <div class="item genderSort" data-value="female" data-text="Female" id="Female">
                    <i class="female icon"></i>
                    Female
                </div>
            </div>
        </div>
        <div class="ui selection dropdown">
            <input type="hidden" name="seen" id="SortBySeen">
            <i class="dropdown icon"></i>
            <div class="default text">Show All</div>
            <div class="menu">
                <div class="item seenSort" data-value="true" data-text="Only Seen">
                    <i class="unhide icon"></i>
                    Only Seen
                </div>
                <div class="item seenSort" data-value="false" data-text="Unseen">
                    <i class="hide icon"></i>
                    Unseen
                </div>
            </div>
        </div>
        <div class="ui icon input">
            <input type="text" placeholder="Filter by FullName" id="searchPatientByName">
            <i class="inverted circular search link icon"></i>
        </div>
    </div>
</div>
<div class="ui grid">
    <div class="sixteen wide column">
        <table class="ui celled table" id="test1">
            <thead>
            <tr>
                <th>Full Name <i class="angle double up icon orderBy" byDesc="false"></i><i class="angle double down icon orderBy" byDesc="true"></i></th>
                <th>Gender</th>
                <th>Seen by nurse</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="patientTableBody">
            @foreach (var patient in Model.Patients)
            {
                <tr id="Patient@(patient.Id)">
                    <td>
                        @patient.FullName
                    </td>
                    <td>@patient.Gender</td>
                    @if (patient.SeenByNurse)
                    {
                        <td class="positive" id="patient@(patient.Id)Seen">@patient.SeenByNurse</td>
                    }
                    else
                    {
                        <td class="negative" id="patient@(patient.Id)Seen">@patient.SeenByNurse</td>
                    }

                    <td class="center aligned collapsed">
                        <a class="ui yellow basic button " href="~/Nurse/PatientBook?id=@patient.Book.Id&patientId=@patient.Id">Details</a>
                        <div class="ui basic teal button bookReport" patient-id="@patient.Book.Id">Download report</div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <button class="ui basic orange button fluid" id="allPatientsReport">Download Report About Patients</button>
    </div>
</div>
<h4 class="ui horizontal divider header">
    <i class="bar chart icon"></i>
    Statistics
</h4>
<div class="ui grid">
    <div class="eight wide column">
        <h3 align="center">Deseases Chart</h3>
        <canvas id="deseasesChart"></canvas>
    </div>
    <div class="eight wide column">
        <canvas id="anotherChart"></canvas>
    </div>
</div>
@*<button id="test11">asdsa</button>
<div id="test"></div>*@
<div class="ui page dimmer" id="procedureAddedDimmer">
    <div class="content">
        <div class="center">
            <h1>Procedure successively added</h1>
        </div>
    </div>
</div>
<div class="ui modal" id="updateProcedureModal">
    <i class="close icon"></i>
    <div class="header">
        Update Procedure
    </div>
    <div class="content">
        <form id="updateProcedureForm">
            <div class="ui left icon input">
                <input type="text" placeholder="Name" name="name" id="updateName">
                <i class="users icon"></i>
            </div>
            <br/>
            <br/>
            <div class="ui left icon input">
                <input type="text" placeholder="Price" name="price" id="updatePrice">
                <i class="money icon"></i>
            </div>
            <input type="hidden" name="procedureId" id="updateProcedureId"/>
        </form>
    </div>
    <div class="actions">
        <div class="ui  basic red button cancel">Cancel</div>
        <div class="ui green basic button ok">Update</div>
    </div>
</div>
<div class="ui modal" id="removeProcedureModal">
    <i class="close icon"></i>
    <div class="header">
        You remove this procedure forever
    </div>
    <div class="actions">
        <div class="ui  basic red button cancel">Cancel</div>
        <div class="ui green basic button ok">Remove</div>
    </div>
</div>
@section scripts{
    <script src="~/js/nurseStat.js"></script>
}