@model Sanatorium.Models.NurseViewModels.PatientBookViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="ui grid">
    <div class="four wide column">
        <div class="ui card">
            <div class="image">
                <img src="~/lib/semantic/examples/assets/images/avatar/tom.jpg">
            </div>
            <div class="content">
                <div class="header">@Model.Book.FullName</div>
                <div class="meta">
                    <a>Patient</a>
                </div>
                <div class="description">
                  some description about patient age and so on
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    some info
                </span>
                <span>
                    <i class="user icon"></i>
                    some info
                </span>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <table class="ui celled table attached">
            <thead>
                <tr>
                    <th>Desease</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="deseaseTableBody">
                @foreach (var desease in Model.Book.Deseases)
            {
                    <tr id="desease@(desease.Id)">
                        <td>
                            @desease.Name
                        </td>                       
                        <td class="center aligned collapsed"sds>
                            <a class="ui yellow basic button removeDesease" book-id="@Model.Book.Id" desease-id="@desease.Id"><i class="remove circle icon"></i>Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="fluid bottom attached ui basic red button large" book-id="@Model.Book.Id" id="addDesease"><i class="add circle icon medium"></i>Add desease</button>
    </div>
    <div class="eight wide column">
        <table class="ui celled table attached">
            <thead>
                <tr>
                    <th>Procedure</th>
                    <th>Frequency</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="proceduresFrequencyTableBody">
                @foreach (var procedureFrequency in Model.Book.Procedures)
            {
                    <tr id="procedureFrequency@(procedureFrequency.Id)">
                        <td>
                            @procedureFrequency.PatientProcedure.Name
                        </td>
                        <td>
                            @procedureFrequency.Frequency
                        </td>
                        <td class="center aligned collapsed">
                            <a class="ui yellow basic button procedureFrequency" book-id="@Model.Book.Id" procedureFrequency-id="@procedureFrequency.Id"><i class="remove circle icon"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="fluid bottom attached ui basic red button large" book-id="@Model.Book.Id" id="addProcedureFrequency"><i class="add circle icon medium"></i>Add procedure</button>
    </div>
    
</div>
<div class="ui modal small" id="addDeseaseModal">
    <i class="close icon"></i>
    <div class="header">
        Desease Name
    </div>
    <div class="content">
        <div class="ui input focus">
            <input type="text" placeholder="Desease name" id="deseaseName">
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Nope
        </div>
        <div class="ui positive right labeled icon button">
            Add Desease
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
